[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
looker-sdk = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.16"

[pipenv]
allow_prereleases = true
