look_backup/
looker_backup_content/

dist/
tests/example_yamls/
#Ignore all setup files
.venv/
.vscode/
folder_walk.sh
None

#Ignore test files
test.py
test.csv
output.csv
delinquentcontent.csv
spam.log
map_view.log
utils/test.py
utils/old_files/

#Ignore legacy files
lmanage/getContentWithViews.py
lmanage/delinquent_content.py
lmanage/delinquent_user.py
lmanage/validate_content.py
lmanage/find_content_with_lookml_params.py

#Ignore test files for early content
tests/test_getContentWithViews.py
tests/test_delinquent_content.py
tests/test_delinquent_user.py
tests/test_find_content_with_lookml_params.py
tests/test_validate_content.py
tests/test_lookml_files.py
tests/snap_db_response.json

#Ignore pycache
__pycache__/
*.pyc
